{% extends '_templates/base.njk' %}

{% block page_title %}Discography{% endblock %}

{% block page_description %}Queen's Discography{% endblock %}


{% block content %}
<article class="container">
  <h1 style= text-align:center>Discography</h1>
  <div class="row">
  {% for album in queen.discography %}
      <div class="col-sm-6 col-lg-3">
        <div class="card bg-light">
          <img class="card-img-top" src="img/discs/{{ album.image }}" alt="{{album.title}}" class="img-fluid">
          <div class="card-body">
            <h5 class="card-title">{{album.title}}</h5>
            <h6 class="card-title">{{album.year}}</h5>
          </div>
        </div>
      </div>
  {% endfor %}
  </div>
</article>
{% endblock %}