{% extends '_templates/base.njk' %}

{% block page_title %}All Things Queen{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Who is Queen?</h1>
  <p>Queen are a British rock band formed in London in 1970. Their classic line-up was Freddie Mercury (lead vocals, piano), Brian May (guitar, vocals), Roger Taylor (drums, vocals) and John Deacon (bass). Their earliest works were influenced by progressive rock, hard rock and heavy metal, but the band gradually ventured into more conventional and radio-friendly works by incorporating further styles, such as arena rock and pop rock.</p>
  <h2>Meet the Members</h2>
  <div class="row">
    {% for member in queen.members %}
      <div class="col-sm-6 col-lg-3">
        <div class="card border-light text-white bg-dark mb-3">
          <img class="card-img-top" src="img/members/{{ member.image }}" alt="{{ member.name }}" class="img-fluid">
          <h3 class="card-title" id="names"><a href="members/{{ member.slug }}.html">{{ member.name }}</a></h3>
        </div>
      </div>
    {% endfor %}
  </div>


  <h2> 2021 Tour Dates </h2>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">City</th>
        <th scope="col">Venue</th>
      </tr>
    </thead>
    {% for show in queen.tour2021 %}
    <tbody>
      <tr>
        <th scope="row">{{ show.date }}</th>
        <td>{{ show.city }}</td>
        <td>{{ show.venue }}</td>
      </tr>
    </tbody>
    {% endfor %}
  </table>

{% endblock %}