{% extends '_templates/base.njk' %}

{% block page_title %}All Things Queen{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Add Site Description</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin in facilisis velit, aliquam congue dui. Mauris id mi quam. Nam enim leo, bibendum vel efficitur id, elementum malesuada est. Pellentesque interdum tempus eros nec iaculis. Quisque ac est dictum, vehicula nulla quis, condimentum dui.</p>
  <h2>Members</h2>
  <div class="row">
    {% for member in queen.members %}
      <div class="col-sm-6 col-lg-3">
        <div class="card">
          <img class="card-img-top" src="img/members/{{ member.image }}" alt="" class="img-fluid">
          <h3 class="card-title"><a href="members/{{ member.slug }}.html">{{ member.name }}</a></h3>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}