{% extends '_templates/base.njk' %}

{% set relative_path = "../" %}

{% block page_title %}{{ name }}{% endblock %}

{% block page_description %} Bio of {{ name }}{% endblock %}

{% block content %}
  <article class="container">
    <div class="row">
      <div class="col-sm-4">
          <img src="../img/members/{{ image }}" alt="{{ member.name }}" class="img-fluid mb-4">
      </div>
      <div class="col-sm-8">
          <h1>{{ name }} </h1>
          <h6> {{instruments}} | Years active: {{ tenure }}</h6>
          <h6>Birthplace: {{ birthplace }} | Date of Birth: {{ birthdate }} </h6>
          <p>{{ description | safe }}</p>
      </div>
    </div>
  </article>
{% endblock %}
