
.jumbotron.banner {
  background: url(../img/queen-live-on-stage.jpg) no-repeat center;
  background-size: cover;
  font-family: 'Libre Baskerville', serif;
  color: white
}

.jumbotron h1 {
  font-size: 5rem;
  margin-bottom: 20px;
}

.jumbotron p {
  font-size: 1.25rem;
  font-style: italic;
}